.# 環境変数ファイル（秘密情報）
.env

# Node.jsの依存パッケージフォルダ
node_modules/
package-lock.json

# Google Cloud 認証ファイルを無視
star-discord-bot-*.json
data/star-discord-bot-*.json
data/

# chat gpt
copilot_chatgpt/
copilot_chatgpt/*.md